<br>
<br>
<br>
<br>
<br>

<div id="container">
    <!-- Start Home Page Slider -->
    <section id="home">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <!--/ Indicators end-->
            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="http://rrhh.swissmedical.com.ar/frontend/images/slider/imagen01.jpg" alt="slider">
                    <div class="slider-content">
                    </div>
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <img class="img-responsive" src="http://www.avanfi.com/img/bannerAVANFI.jpg" alt="slider">
                    <!--
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated4">
                            <span><strong>Margo</strong> for the highest</span>
                            </h2>
                            <h3 class="animated5">
                            <span>The Key of your Success</span>
                            </h3>
                            <p class="animated6"><a href="#" class="slider btn btn-primary">Buy Now</a>
                            </p>
                        </div>
                    </div>
                    -->
                </div>
                <!--/ Carousel item end -->
                <div class="item">
                    <img class="img-responsive" src="http://fundacardin.com.ve/img/carousel2.jpg" alt="slider">
                    <!--
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated7 white">
                            <span>The way of <strong>Success</strong></span>
                            </h2>
                            <h3 class="animated8 white">
                            <span>Why you are waiting</span>
                            </h3>
                            <div class="">
                                <a class="animated4 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <!--/ Carousel item end -->
            </div>
            <!-- Carousel inner end-->
            <!-- Controls -->
            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->
    <!-- Start Services Section -->
        <div class="section service">
            <div class="container">
                <div class="row">
                    
                    <!-- Start Service Icon 1 -->
                    <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="service-icon">
                            <i class="fa fa-leaf icon-large"></i>
                        </div>
                        <div class="service-content">
                            <h4>Servicios</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>

                        </div>
                    </div>
                    <!-- End Service Icon 1 -->

                    <!-- Start Service Icon 2 -->
                    <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
                        <div class="service-icon">
                            <i class="fa fa-desktop icon-large"></i>
                        </div>
                        <div class="service-content">
                            <h4>Quiénes Somos</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                        </div>
                    </div>
                    <!-- End Service Icon 2 -->

                    <!-- Start Service Icon 3 -->
                    <div class="col-md-4 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
                        <div class="service-icon">
                            <i class="fa fa-eye icon-large"></i>
                        </div>
                        <div class="service-content">
                            <h4>Contacto</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
                        </div>
                    </div>
                    <!-- End Service Icon 3 -->

                </div><!-- .row -->
            </div><!-- .container -->
        </div>
        <!-- End Services Section -->
</div>