<br>
<br>
<br>
<br>
<br>

    <div id="container">
        <div class="row">
        <br>
         <div class="col-lg-12 text-center">
               <strong> <h2>Acerca De</h2></strong>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <p >Enfermeras día y noche se concibe como una empresa para la prestación de servicios de salud; a nivel intrahospitalario y domiciliaro, ofreciendo atención completa de enfermería con calidad de trato humano a los pacientes y sus familias, para ai disminuir el impacto que causa en el paciente la separación del nucleo familiar</p>
            </div>
            <div class="col-lg-2 text-center"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <p >En nuesto país por diversos motivos los centros asistenciales llegan a tener una enfermera a cargo de 9 o 10 pacientes, disminutendo la individualización y calidad del servicio, lo que afecta el tiempo de recuperación del paciente; haciendo necesaria una atención más personalizada y en algunos casos domiciliaria que brinde al paciente y su familia nuevas posibilidades de cuidado, tratamiento y recuperación de sus enfermedades</p>
            </div>
            <div class="col-lg-2 text-center"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
               <strong> <h2>Nuestra Misión</h2></strong>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-center"></div>
            <div class="col-lg-8 text-center">
                <p class="text-center">Brindar servicios y cuidados de enfermería a nivel domiciliario, buscando disminuir el impacto que causa en el paciente la separación del núcleo familiar, ofreciendo además tranquilidad al paciente y familiares al estar en un entorno conocido.</p>
                <br>
            </div>
            <div class="col-lg-2 text-center"></div>
        </div>
</div>